	.navbar {
	background-color: rgba(11, 110, 165, 0);
    color: white;
    padding: 1.4rem;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    padding-left: 1rem;
    padding-right: 1rem;
    z-index: -1;
	}
	
	.flex {
	display: flex;
	justify-content: flex-end;
	gap: 53px;
	width: 96%;
	}
	
	.home {
	animation-name: homeOff;
	animation-duration: 0.5s;
	padding: 0.2rem;
	width: 38px;
	position: absolute;
	top: 10px;
	background-color: rgba(85, 85, 85, 0);
	z-index: 1;
	height: 38px;
	}
	
	.about {
	animation-name: aboutOff;
	animation-duration: 0.5s;
	padding: 0.2rem;
	width: 38px;
	position: absolute;
	top: 10px;
	background-color: rgba(85, 85, 85, 0);
	z-index: 2;
	height: 38px;
	}
	
	.download {
	animation-name: downloadOff;
	animation-duration: 0.5s;
	padding: 0.2rem;
	width: 38px;
	position: absolute;
	top: 10px;
	background-color: rgba(85, 85, 85, 0);
	z-index: 2;
	height: 38px;
	}
	
	.logo {
	animation-name: logoOff;
	animation-duration: 0.5s;
	padding: 0.2rem;
	width: 119px;
	position: absolute;
	top: -20px;
	color: white;
	z-index: 3;
	height: 29px;
	font-size: xx-large;
	}
	
	.Navflex {
	width: 100%;
	}

	.logo:hover {
		animation-name: logoOn;
		animation-duration: 0.5s;
		color:rgb(126, 25, 221);
		top: -25px;
	}

	.download:hover {
		animation-name: downloadOn;
		animation-duration: 0.5s;
		top: 7px
	}

	.about:hover {
		animation-name: aboutOn;
		animation-duration: 0.5s;
		top: 7px
	}

	.home:hover {
		animation-name: homeOn;
		animation-duration: 0.5s;
		top: 7px
	}

	@keyframes logoOn {
		0% {color:white; top: -20px;}
		100% {color: rgb(126, 25, 221); top: -25px}
	}

	@keyframes logoOff {
		0% {color: rgb(126, 25, 221); top: -25px}
		100% {color:white; top: -20px;}
	}

	@keyframes downloadOn {
		0% {top: 10px;}
		100% {top: 7px}
	}

	@keyframes downloadOff {
		0% {top: 7px;}
		100% {top: 10px}
	}

	@keyframes aboutOn {
		0% {top: 10px;}
		100% {top: 7px}
	}

	@keyframes aboutOff {
		0% {top: 7px;}
		100% {top: 10px}
	}

	@keyframes homeOn {
		0% {top: 10px;}
		100% {top: 7px}
	}

	@keyframes homeOff {
		0% {top: 7px;}
		100% {top: 10px}
	}

	.homea {
		position: absolute;
		font-size: 3rem;
		right: 50%;
		transform: translate(50%, 0);
		color: white;
		transition: all cubic-bezier(.77,.08,.83,.67) 0.2s;
	  }
	  
	  .homea:hover {
		color: sky;
		transform: scale(1.2, 1.2) translate(50%, 0);
		right: 55%;
	  }