	.navbar {
	background-color: rgba(11, 110, 165, 0);
    color: white;
    padding: 1.4rem;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    padding-left: 1rem;
    padding-right: 1rem;
    z-index: -1;
	}
	
	.flex {
	display: flex;
	justify-content: flex-end;
	gap: 53px;
	width: 96%;
	}
	
	.home {
	padding: 0.2rem;
	width: 38px;
	position: absolute;
	top: 10px;
	background-color: rgba(85, 85, 85, 0);
	z-index: 1;
	height: 38px;
	}
	
	.about {
	padding: 0.2rem;
	width: 38px;
	position: absolute;
	top: 10px;
	background-color: rgba(85, 85, 85, 0);
	z-index: 2;
	height: 38px;
	}
	
	.download {
	padding: 0.2rem;
	width: 38px;
	position: absolute;
	top: 10px;
	background-color: rgba(85, 85, 85, 0);
	z-index: 2;
	height: 38px;
	}
	
	.logo {
	padding: 0.2rem;
	width: 119px;
	position: absolute;
	top: -25px;
	background-color: rgba(85, 85, 85, 0);
	z-index: 3;
	height: 29px;
	}
	
	.Navflex {
	width: 100%;
	}