:root {
    --sidebarcol: linear-gradient(rgba(51, 51, 51, 0.3), rgba(39, 39, 39, 0.3));
    --sidebarhov: rgba(65, 65, 65, 1);
    --sidebarsh: 1px 1px 8px 0px #000000;
    --downloadgr: linear-gradient(rgb(38, 135, 214), rgb(29, 48, 218));
    --downloadgr2: linear-gradient(rgb(218, 29, 29), rgb(167, 26, 68));

    --navbarcol: rgba(0, 0, 0, .7);
    --navbarsh: 1px 1px 8px 0px #000000;
    --navbarho: rgba(204, 204, 204, 1);
    --navbarno: rgba(65, 65, 65, 0);
}

a {
    text-decoration: none;
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.spacer {
	aspect-ratio: 900/600;
	width: 100%;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	position: fixed;
	z-index: -999999;
	left: -0.5px;
	right: auto;
	bottom: 0px;
	height: 100%;
}

.cursorpo {
    cursor: pointer;
}

.background {
	background-image: url('srcs/imgs/background.svg');
}

.sidebar {
    position: fixed;
    height: 100%;
    width: 90px;
    background-image: var(--sidebarcol);
    z-index: 1;
    display: flex;
    flex-direction: column;
    gap: 0px;
    box-shadow: var(--sidebarsh);
}

.sidebar p {
    font-size: 0.8rem;
    color: white;
}

.sidebar img {
    width: 35px;
    height: 35px;
}

.home:hover, .download:hover, .devlog:hover {
    background-color: var(--sidebarhov);
}

.home {
    left: 5%;
    top: 5%;
}

.download {
    top: 10%;
    left: 5%;
}

.download p {
    font-size: 0.7rem;
}

.devlog {
    left: 5%;
    top: 15%;
}

@font-face {
    font-family:"Cubano";
    src: url(fonts/Cubano-Regular.otf) format("opentype");
}
  
  
@font-face {
    font-family:"Sofia";
    src: url(fonts/Sofia_Pro_Bold_Az.otf) format("opentype");
} 


.navbar {
    width: 100%;
    height: 70px;
    position: fixed;
    background-color: var(--navbarcol);
    box-shadow: 1px 1px 3px 0px #000000;
    top: 0px;
    backdrop-filter: blur(12px);
    z-index: 10;
}

.navbar p {
    color: rgb(255, 255, 255);
}

.navbar img {
    top: 50%;
    position: relative;
    border-radius: 15px;
}

.btns {
    display: flex;
    flex-direction: row;
    gap: 8px;
    width: 98%;
    height: 70px;
    justify-content: end;
    top: -80px;
    position: relative;
    z-index: 10000000;
}

.left {
    padding-left: 10px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    line-height: 65px;
    font-size: 25px;
    position: relative;
    font-family: Sofia;
    z-index: 10000000;
}

.btn {
    width: 95px;
    height: 42px;
    background-color: var(--navbarno);
    transition: all 0.3s;
    border-radius: 9999px;
    padding-top: 4px;
    z-index: 10000000;
}

.btn p {
    text-align: center;
    transition: all 0.3s;
}

.btn:hover {
    background-color: var(--navbarho);
}

.btn:hover p {
    color: black;
}

back {
    z-index: -1;
    filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 70px;
}